@-webkit-keyframes slideBottom {
  from {
    bottom: -200px; }
  to {
    bottom: 0; } }
@keyframes slideBottom {
  from {
    bottom: -200px; }
  to {
    bottom: 0; } }
@-webkit-keyframes slideTop {
  from {
    top: -200px; }
  to {
    top: 0px; } }
@keyframes slideTop {
  from {
    top: -200px; }
  to {
    top: 0px; } }
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0; }

html {
  font-size: 62.5%;
  font-family: Lato; }

body {
  background: #eee;
  font-size: 1.6rem; }

.bar {
  background: #363D4D;
  padding: 0.7vh 1vw;
  color: #eee;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0; }

.pos-top {
  -webkit-transition: margin .5s;
          transition: margin .5s;
  -webkit-animation-name: slideTop;
          animation-name: slideTop;
  -webkit-animation-duration: .5s;
          animation-duration: .5s; }

.pos-bottom {
  -webkit-animation-name: slideBottom;
          animation-name: slideBottom;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  bottom: 0; }

.btn {
  -webkit-transition: box-shadow .3s;
          transition: box-shadow .3s; }
  .btn:hover {
    box-shadow: 0px 5px 10px -5px #111; }

.btn-widget {
  background: #ffca49;
  border-radius: 3px;
  padding: 0.7vh 20px;
  color: #eee;
  font-weight: 600;
  font-size: 1.6rem;
  margin-left: 1vw;
  line-height: 2rem; }

.btn-widget, .fa {
  cursor: pointer; }

.fa {
  margin-top: 0.7vh;
  color: #ddd;
  font-size: 1.7rem;
  line-height: 1.6rem;
  height: 1.6rem; }

.fa-info {
  -webkit-transition: color .3s;
          transition: color .3s; }
  .fa-info:hover {
    color: #fff; }

.exit {
  width: 20px;
  height: 20px;
  position: relative;
  -webkit-transition: -webkit-transform .2s;
          transition: transform .2s; }
  .exit:after, .exit:before {
    content: '';
    width: 20px;
    height: 2px;
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    background: #ddd; }
  .exit:after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .exit:before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .exit:hover {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
    .exit:hover:after, .exit:hover:before {
      background: #fff; }

.nav-bar {
  position: fixed;
  padding: 1vh 1vw;
  top: calc(50% - 35vh);
  left: calc(50% - 25vw);
  min-height: 40vh;
  width: 50vw;
  box-sizing: border-box;
  background: #fff;
  text-align: center;
  box-shadow: 0px 5px 10px -5px #111; }
  .nav-bar h1 {
    margin: 2vh 0;
    font-size: 3rem; }
  .nav-bar .btn-pos {
    padding: 1vh 1vw;
    border-radius: 3px;
    color: #eee;
    margin: 5vh 2vw;
    min-width: 150px;
    cursor: pointer;
    font-weight: 600;
    -webkit-transition: box-shadow .3s;
            transition: box-shadow .3s; }
    .nav-bar .btn-pos:hover {
      box-shadow: 0px 5px 10px -5px #111; }
  .nav-bar .in-active {
    background: #363D4D; }
  .nav-bar .active {
    background: #ffca49; }

/*# sourceMappingURL=style.css.map */